In [1]:
import seaborn as sn
import pandas as pd

# California Renewable Energy Production

To Do:

1) Create an analysis plan.

    - How will we calculate the radiance and weather above each solar plant?
    - Will we generalize statewide, county wide, or 4 km^2 ?
    
2) Clean and organize the data.

    - Given the granularity of the data we would like to use, drop the data that we don't want and store it in a new dataframe.
    - Clean Nan and null values
    - Run summaries on dataframes to make sure the data doesn't have outliers from recording mistakes.
  
3) Visualize the data.

    - Plot each column or critical values to see general trends and begin exploratory analysis.

# Solar Data
I went through and cleaned the data. This was pretty intense on my GPU and took a long time so I've pickled the dataframe. From here on out we will just load in the pickled pandas dataframe instead running all the computations for cleaning.

Below is the code, but basically:

1) Checked for unique values and dropped useless rows.

2) Converted LocalDateTime to hold datetime objects.

3) Converted Datetime to the index of the dataframe so that we may merge the weather data to this dataframe.

In [2]:
#solar = pd.read_csv("PGE_No_Load_StartThru2016Q4.csv")
#solar.head(10)
#solar["ID"].unique()
#solar["Flag"].unique()
#solar["Inctv_type"].unique()
#solar = solar.drop(columns = "Inctv_type")
#solar["LocalDateTime"] = pd.to_datetime(solar["LocalDateTime"], format='%d%b%y:%H:%M:%S')
#solar["pa"].unique()
#solar = solar.drop(columns ="pa")
#solar.index = solar["LocalDateTime"]
#solar = solar.drop(columns = "LocalDateTime")
#solar.to_pickle("./solar.pkl")

In [5]:
solar_cleaned = pd.read_pickle("./solar.pkl")

In [6]:
solar_cleaned.head()

                         ID      kWh Flag
LocalDateTime
2010-08-26 00:00:00  A-1611  0.01625    M
2010-08-26 00:15:00  A-1611  0.01650    M
2010-08-26 00:30:00  A-1611  0.01625    M
2010-08-26 00:45:00  A-1611  0.01600    M
2010-08-26 01:00:00  A-1611  0.01600    M

In [24]:
plant_lookup_df = pd.read_csv("./WorkingDataSet_11-20-2019.csv")

In [25]:
#plant_lookup_df = plant_lookup_df.drop(columns = ["MASH Track 1A Incentive Amount", "MASH Track 1B Incentive Amount",
#                                                  "MASH Track 2 Incentive Amount", "MASH Track 1A % Capacity", 
#                                                  "MASH Track 1B % Capacity"])

In [53]:
A_1611_project = plant_lookup_df.loc[plant_lookup_df['Application Number'] == 'PGE-CSI-00392']

In [52]:
A_1611_project[['Host Customer Physical Zip Code','Host Customer Physical Address County','Host Customer Physical Address City']]

,Host Customer Physical Zip Code,Host Customer Physical Address County,Host Customer Physical Address City
65575,94931,Sonoma,Cotati

In [54]:
#solar_cleaned['ID'].unique()

In [48]:
solar_cleaned.loc[solar_cleaned['ID'] == 'A-1611']

                         ID      kWh Flag
LocalDateTime
2010-08-26 00:00:00  A-1611  0.01625    M
2010-08-26 00:15:00  A-1611  0.01650    M
2010-08-26 00:30:00  A-1611  0.01625    M
2010-08-26 00:45:00  A-1611  0.01600    M
2010-08-26 01:00:00  A-1611  0.01600    M
...                     ...      ...  ...
2016-12-31 22:45:00  A-1611  0.01500    M
2016-12-31 23:00:00  A-1611  0.01500    M
2016-12-31 23:15:00  A-1611  0.01500    M
2016-12-31 23:30:00  A-1611  0.01525    M
2016-12-31 23:45:00  A-1611  0.01525    M

[166508 rows x 3 columns]

In [ ]:
plant_lookup_df.loc[plant_lookup_df['Application Number'] == 'PGE-CSI-00392']